
.login_main {
    border-radius: 20px;
    background: #FFF;
    width: 900px;
    padding: 20px;
    margin: 0 auto;
}

.img_bg {
    background-color: #E7ECF6;
    border-radius: 10px;
}

.heading_h2 {
    color: #0F1223;
    font-size: 48px;
    font-weight: 700;
    line-height: 52px;
}

.heading_h3 {
    color: #101F2D;
    font-size: 16px;
    font-family: Inter;
    font-weight: 400;
    line-height: 24px;
}

.login_form {
    padding: 20px 0;
}

.form-label,
::placeholder,
.form-check-label,
.heading-h4 {
    color: #101324 !important;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    font-family: Inter;
}

.form-check .form-check-label {
    margin-left: 8px;
}

.form-check .form-check-input {
    width: 20px;
    height: 20px;
    border: 1px solid #DADBE7;
    cursor: pointer;
}

.form-check-input:checked {
    background-color: #5271FF !important;
    border-color: #5271FF !important;
}

#inputPassword5::placeholder {
    color: #B7B9D0 !important;
}

.forget_link h4,
.sign_up h4 {
    color: #5271FF !important;
}

.login_btn {
    margin: 20px 0;
}

.login_btn .button {
    padding: 14px 0;
}

.button {
    font-size: 16px !important;
    font-weight: 600 !important;
    line-height: 26px !important;
    border-radius: 10px !important;
    background: #5271FF !important;
    color: #FFF !important;
    border: unset !important;
}

.login_btn .button:hover {
    border-color: unset;

}

.sign_up .sign_up_btn {
    font-size: 14px;
    font-family: Inter;
    font-weight: 400;
    line-height: 21px;
    color: #5271FF !important;
    border: none;
    background: transparent;
}

.request_location .heading_h3 {
    font-weight: 600;
}

.location_para .para {
    color: #6C7288;
}

.request_location {
    padding: 10px 0;
}
